
.curtir {
    color: red;
}

.btn-comprar {
    border: none;
    background: var(--cor-background-botao);
    border-radius: 5px;
    width:50%;
    color: var(--texto-cor-principal);

    &:hover {
        background: var(--btn-hover);
    }

    .fa-shopping-cart {
        color: var(--texto-simbolo);
    }
}

.btn-comprar:hover .fa-shopping-cart {
    color: var(--fundo-bg-feature);
}

