.nft-card {
    width: 16rem;
    background-color: var(--card-bg-maior);
    
    .card-title {
        color: var(--texto-cor-principal);
        text-align: center;
    }
}

.nft-image-container {
    background: var(--card-bg-menor);
    height: 300px; 
    max-width: 280px;
    margin: 1rem;

}

.nft-image {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ver-todos {
    color: var(--texto-cor-principal);
}

.preco {
    color: var(--texto-destaque);
    display: flex;
}

.codigo {
    color: var(--texto-cor-secundario);
}

.card-title {
  text-transform: uppercase; 
}

.codigo {
    margin-left: 1rem;
}

.perfil {
    color:var(--texto-destaque);
    border: 2px solid var(--borda-destaque-verde);
    border-radius: 15px;
    width: 6rem;
}

.status {
    color:var(--texto-destaque-azul);
    border: 2px solid var(--borda-destaque-azul);
    border-radius: 15px;
    width: 6rem;
}

