.nft-card {
    width: 16rem;
    
}

.card-title {
    color: var(--texto-cor-principal);
    text-align: center;
}

.nft-box-img {
    width: 180px;
    height: 230px;
}

.nft-image-container {
    background: transparent;
    /*height: 300px;*/ 
    /*max-width: 280px;*/
    margin: 1rem;
}

.nft-image {
    width: 150px;
}

.ver-todos {
    color: var(--texto-cor-principal);
    border: none !important;
}

.preco,
.text-moeda {
    color: var(--texto-destaque);
    display: flex;
    text-decoration: none;
    font-size: .7rem;
}

.codigo {
    color: var(--texto-cor-secundario);
    font-size: .8rem;
}

.card-title {
  text-transform: uppercase; 
}

.codigo {
    margin-left: 1rem;
}

.perfil {
    color:var(--texto-destaque);
    border: 2px solid var(--borda-destaque-verde);
    border-radius: 15px;
    width: 6rem;
    font-size: .8rem;
}

.status {
    color:var(--texto-destaque-azul);
    border: 2px solid var(--borda-destaque-azul);
    border-radius: 15px;
    width: 6rem;
    font-size: .7rem;
}


/*cards capa coleções */

.card-capa {
    min-height: 14rem;
    background: var( --fundo-bg-feature);
    margin: 1.5rem;
    border-radius: .5rem;
}

.card {
    background: var(--card-bg-menor);
}

.capa-imgs {
    position: relative;

    .img1 {
        margin-top: 5rem;
        position: absolute;
    }

    .img2 {
        margin-top: 11rem;
        margin-left: 9rem;
        position: absolute;
        transform: rotate(90deg); 
    }

    .img3 {
        margin-top: 17rem;
        position: absolute;
        transform: rotate(180deg);
    }

    .img4 {
        margin-top: 11rem;
        margin-right: 9rem;
        position: absolute;
        transform: rotate(270deg); 
    }
}

.card-title {
    color: var(--texto-cor-principal);
    font-family: var(--fonte-titulos);
    font-size: .7rem;
}

.card-text {
    color: var(--texto-cor-secundario);
    font-family: var(--fonte-textos);
}

.text-moeda {
    font-weight: 700;
}

.ver-mais {
    background: var(--cor-background-botao);
    color: var(--texto-cor-principal);
    font-weight: 700;
    border: none !important;
    
    &:hover {
        background: var(--texto-destaque);
        color: var(--texto-cor-principal);
    }

}

.ver-todos {
    background: var(--cor-background-botao);
    border: 1px solid transparent;
    font-family: var(--fonte-titulos);
    color: var(--texto-cor-principal);
    font-weight: 700;

    &:hover {
        background: var(--texto-destaque);  
        color: var(--texto-cor-principal);
    }
}

/*cards beneficios */

.card-beneficios {
    background-color: var(--background-lasted);
    border: 1px solid var(--border-lasted);
    max-width: 18rem;
}

.background-componente {
    width: 2rem;
    height: 1.8rem;
    background: var(--border-lasted);
    border-radius: .5rem;
}

.componente {
    width: 20px;
    height: 20px;
}

.card-beneficios2 {
    background-color: var(--background-metaverse);
    border: 1px solid var(--border-metaverse);
    max-width: 18rem;
}

.background-componente2 {
    width: 2rem;
    height: 1.8rem;
    background: var(--border-metaverse);
    border-radius: .5rem;
}

.card-beneficios3 {
    background-color: var(--background-protection);
    border: 1px solid var(--border-protection);
    max-width: 18rem;
}

.background-componente3 {
    width: 2rem;
    height: 1.8rem;
    background: var(--border-protection);
    border-radius: .5rem;
}

.texto-componente {
    color: var(--texto-cor-principal);
    font-family: var(--fonte-textos);
}