
.navbar {
    background: var(--fundo-bg-gradiente);

    .header-titulo,
    .navbar-nav {
    color: var(--texto-cor-principal);
    font-family: var(--fonte-titulos);
    letter-spacing: 1px;
    }

    .simbolo {
        width: 20px;
        height: 20px;
    }

    .nav-link {
        font-size: .7rem;
        color: var(--texto-cor-principal);
    }

    .header-titulo {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.97rem;
        background: var(--cor-gradiente-marca);
        -webkit-text-fill-color: transparent;
    }
}

