.container-body {
    background-image: url("../img/1300wdefault.png");
    min-height: 100vh;
}   

.form-login {
    width: 24.5rem;
    max-width: 24.5rem;
    padding: 0.06rem;
    align-items: flex-start;
}