.anima-card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.numero-contador {
    font-size: 1rem;
}

.texto-anima-card,
.numero-contador {
    font-family: var(--fonte-titulos);
}

.texto-anima-card {
    letter-spacing: 1.5px;
}

