.hero-section {
    background: var(--fundo-bg-gradiente);

    .hero-box-info {

        .hero-boxmin {

            .mascote1-hero {
                width: 80px;
                height: 80px;
            }

            .hero-mascote-nome {
                background: var(--fundo-bg-titulo);
                color: var(--texto-destaque);
                font-family: var(--fonte-textos);
                border-radius: 80px;
                width: 45%;
                height: 1.8rem;
                align-content: center;
                border: 1px solid var(--borda-destaque);

                .mascote-texto {
                    margin: 0;
                    font-size: .7rem;
                    text-align: center;
                }
            }
        }

        .hero-boxmin-chamada {

            .hero-chamada {
                color: var(--texto-cor-principal);
                font-family: var(--fonte-titulos);
                font-size: 2rem;
                margin-right: 11rem;
            }

            .hero-chamada-gradiente {
                background: var(--fundo-tx-gradiente);
                font-family: var(--fonte-titulos);
                font-size: 2rem;
                background-clip: text;

                .chamada-gradiente-texto {
                    color: transparent;
                }
            }
        }

        .hero-box-dados {

            .box-dados {
                margin-right: 6.5rem;

                .dados-number1,
                .dados-number2,
                .dados-texto {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.3rem;
                }

                .dados-simbolo {
                    color: var(--texto-simbolo);
                }

                .dados-number1 {
                    color: var(--texto-destaque-amarelo);
                }

                .dados-number2 {
                    color: var(--texto-destaque);
                }

                .dados-texto {
                    color: var(--texto-cor-principal);
                    font-family: var(--fonte-titulos);
                    margin-left: .5rem;
                } 
            }
        }
    }

    .hero-box-valor {

        .box-buttons {
            margin-right: 4rem;

            .btn-compre-agora {
                color:var(--texto-destaque-preto);
                font-weight: 700;
                font-size: .7rem;
                color: var(--texto-cor-principal);
                display: flex;
                height: 2.03125rem;
                padding: 0.5rem 0.875rem 0.4375rem 0.875rem;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                border-radius: 0.42188rem;
                background: var(--cor-background-botao);
                border:none !important;

                &:hover {
                    background: var(--btn-hover);
                }
            }

            .btn-lista-branca {
                background-color: transparent;
                color:var(--texto-cor-principal);
                font-weight: 700;
                border: 1px solid var(--texto-destaque);
                font-size: .7rem;
            }
        }
    }

    .hero-box-info-valor {

        .hero-box-infos {
            margin-right: 1.7rem;

            .box-info-texto {
            color: var(--texto-cor-principal);
            font-weight: 700;
            font-size: .7rem;
            letter-spacing: 1px;

                .circulo {
                width: .5rem;
                height: .5rem;
                border-radius: 50%;
                }

                .circulo-verde {
                    background-color: var(--texto-destaque);
                }

                .circulo-rosa {
                    background-color: var(--texto-destaque-rosa);
                }

                .texto-info {
                    font-weight: 700;
                    font-size: .7rem;
                }

                .texto-info-nft {
                    color: var(--texto-destaque);
                }

                .texto-info-eth {
                    color: var(--texto-destaque-rosa);
                }
            }
        } 
    }
}

.numbers-section {
    background: var(--fundo-numbers-gradiente);


    .fa-gem.icon-fa-gem {
       width: 1rem;
       height: 1rem;
    }
}

.feature-section {
    background: var(--fundo-bg-feature);

    .title-section {
        color: var(--texto-cor-principal);
        font-family: var(--fonte-titulos);
        letter-spacing: 1.2px;
    }

    .lead {
        color: var( --texto-cor-secundario);
        font-family: var(--fonte-textos);
        font-size: 1.5rem;
    }

    .subtitle-feature {
        color: var(--texto-cor-principal);
        font-family: var(--fonte-titulos);
        letter-spacing: 1.2px;
        font-weight: bold;
    }

    .titulo-simbolo {
        background: var(--texto-destaque-amarelo);
        width: .5rem;
        height: 2rem;
    }
}
.section-beneficios {
    background: var(--fundo-bg-feature);

    .conteudo-beneficios {
        width: 80%;
        padding-top: 3rem;

        .caracteristicas {
            color:var(--texto-destaque);
            font-family: var(--fonte-titulos);
            font-weight: 700;
            font-size: .7rem;
            letter-spacing: 2px;
        }

        .beneficios {
            color: var(--texto-cor-principal);
            font-family: var(--fonte-titulos);
        }
    }  
}

.icone-detalhe {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--texto-destaque);
}

.comoComprar-section {
    background: var(--fundo-bg-feature);

    .comoComprar-conteudo {
        width: 70%;

        .processo-texto {
            color:var(--texto-destaque);
            font-family: var(--fonte-titulos);
            font-weight: 700;
            font-size: .7rem;
            letter-spacing: 2px;
        }

        .comoComprar-etapas {

            .card-conect {
                
                text-align: center;
                
                .card-infoIcone {

                    .background-componente4 {
                        background: var(--card-bg-maior);
                        border: 1px solid var(--borda-card-cinza);
                        width: 40%;
                        height:3rem;
                        border-radius: 10px;
                    }

                    .card-titulo {
                    color: var(--texto-cor-principal);
                    font-size: .9rem;  
                    }

                    .card-textos {
                        color: var(--texto-cor-secundario);
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}
