/******variaveis de cor******/

:root {

    --fundo-bg-gradiente: linear-gradient(to right, #0F172B, #0F172B 50%, #1C398E);
    --fundo-numbers-gradiente: linear-gradient(to right, #0F172B, #1D293D, #0F172B);
    --fundo-bg-feature: #0f172b;
    --fundo-bg-titulo: #0b3b32;
    --fundo-tx-gradiente: linear-gradient(to right, #05DF72, #2B7FFF);
    --texto-cor-principal: #ffff;
    --texto-cor-secundario: #99A1AF;
    --texto-destaque: #05df72;
    --texto-destaque-amarelo: #FEC700;
    --texto-destaque-preto: #000; 
    --texto-destaque-rosa: #F3297C;  
    --texto-simbolo: #fff;
    --borda-destaque: #05df72;
    


/******variaveis de texto******/
    --fonte-titulos: 'Michroma', sans-serif;
    --fonte-textos: 'Inter', sans-serif;

}
