/******variaveis de cor******/

:root {

    --fundo-bg-gradiente: linear-gradient(to right, #0F172B, #0F172B 50%, #1C398E);
    --fundo-numbers-gradiente: linear-gradient(to right, #0F172B, #1D293D, #0F172B);
    --fundo-bg-feature: #0f172b;
    --fundo-bg-titulo: #0b3b32;
    --fundo-tx-gradiente: linear-gradient(to right, #05DF72, #2B7FFF);
    --fundo-bg-input: #1E2939;
    --texto-cor-principal: #ffff;
    --texto-cor-secundario: #99A1AF;
    --texto-cor-terciaria: #b3becd;
    --texto-destaque: #05df72;
    --texto-destaque-amarelo: #FEC700;
    --texto-destaque-preto: #000; 
    --texto-destaque-rosa: #F3297C;  
    --texto-destaque-azul: #51A2FF;
    --borda-destaque-azul: rgba(81, 162, 255, 0.3);
    --texto-simbolo: #fff;
    --borda-destaque: #05df72;
    --borda-destaque-verde: rgba(5, 223, 114, 0.3);
    --borda-card-cinza: #364153;
    --borda-inputs: #4A5565;
    --card-bg-maior: rgba(30, 41, 57, 0.5);
    --card-bg-menor: #1E2939;

/*****componentes*******/
    --background-lasted:rgba(5, 223, 114, 0.1);
    --border-lasted: rgba(5, 223, 114, 0.2);
    --background-metaverse: rgba(255, 137, 4, 0.1);
    --border-metaverse: rgba(255, 137, 4, 0.1);
    --background-protection: rgba(81, 162, 255, 0.1);
    --border-protection: rgba(81, 162, 255, 0.2);
    

/******variaveis de texto******/
    --fonte-titulos: 'Michroma', sans-serif;
    --fonte-textos: 'Inter', sans-serif;

/*****btns*******/
--btn-cor: rgba(30, 41, 57, 0.5);
--btn-border:  rgba(5, 223, 114, 0.3);
--btn-color: var(--texto-cor-principal);
--btn-titulo: var(--fonte-titulos);
--btn-hover: #05df72;
--btn-hover-texto: #1E2939;

}