@import url(_variaveis.css);
@import url(_tema-claro.css);
@import url(_app.css);
@import url(_header.css);
@import url(_footer.css);
@import url(_cube3d.css);
@import url(_numbers.css);
@import url(_card.css);
@import url(_buttons.css);
@import url(_fade.css);
@import url(_pulse.css);
@import url(_footer.css);
@import url(_page-home.css);
@import url(_page-register.css);
@import url(_page-nfts.css);


/* Reset e Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background: var(--fundo-header);
}

/* Layout Principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-content {
    min-height: calc(100vh - 160px);
    padding: 2rem 0;
}

