@import url(_variaveis.css);
@import url(_particle.css);
@import url(_tema-claro.css);
@import url(_login.css);
@import url(_app.css);
@import url(_header.css);
@import url(_footer.css);
@import url(_cube3d.css);
@import url(_numbers.css);
@import url(_card.css);
@import url(_buttons.css);
@import url(_fade.css);
@import url(_pulse.css);
@import url(_footer.css);
@import url(_page-home.css);
@import url(_page-register.css);
@import url(_page-nfts.css);



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
    flex-grow: 1;
}

body {
    font-family: 'Inter', -apple-system, sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background: var(--fundo-header);
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

/* Layout Principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}



/*.main-content {
    /*min-height: calc(100vh - 160px);
    padding: 2rem 0;
}*/

